
.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  margin: 0;
  padding:0;
background-color: #e3fcdc;
  
  width: 100vw;
  height: 100vh;
  font-family: "Lexend Deca", sans-serif;
  color: #878787;

  --menu-item-size: 50px;
  --green-color: #d4f1eb;
  --blue-color: #a7d1cf;
  --dark-green-color: #2b6a62;
  --white-color: #fff;
  --gray-color: #ededed;
  --container-width: 800px;
  --container-height: 600px;
  --line-offset: calc(
    (100% - var(--container-height)) / 2 + var(--menu-item-size) + 0.6em
  );
}

.container {
  width: var(--container-width);
  height: var(--container-height);
  margin-left: -350px;
  margin-top: -250px;
  top: 30%;
  left: 50%;
  position: absolute;
  z-index: 1;
}

.main-menu {
  display: flex;
  list-style: none;
  margin: auto 0;
  padding: 0.6em 0 0 0;
}

.main-menu > li {
  box-sizing: border-box;
  height: var(--menu-item-size);
  width: calc(3.5 * var(--menu-item-size));
  line-height: var(--menu-item-size);
  padding: 0 2em;
  margin: 1px;
  transition: 0.5s linear all;
  background: var(--green-color);
  color: var(--dark-green-color);
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

h1 {
  font-size: 115%;
  margin: 1em 2em;
  padding: 0;
  position: relative;
  color: #777;
}

.submenu {
  display: none;
  position: absolute;
  z-index: 10;
  list-style: none;
  left: 0;
  margin: 0;
  padding: 0;
  min-width: calc(3.5 * var(--menu-item-size) - 5%);
  box-shadow: 5px 5px 5px #ccc;
}

.f-name {
  text-align: center;
  color: rgb(0, 0, 0);
  margin-top: 100px;
}

.bio{
  text-align: center;
  color: black;
}
.title{
  color: black;
   text-align: center;
}
.card-text{
  font-display: flex;
  text-align: center;
  color: rgb(14, 14, 29);
}
.prof-button{
  background-color: #155652; 
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.working {
  
  margin-left: 350px;
}
